<launch>

    <arg name="gaussian_min" value="100"/>
    <arg name="gaussian_max" value="360"/>

    <arg name="stereo_left_topic" default="stereo/left/image_raw"/>
    <arg name="stereo_right_topic" default="stereo/right/image_raw"/>


    <node name="opencv_node" pkg="opencv_ros" type="opencv_node" output="screen">
        <remap from="/stereo/left" to="$(arg stereo_left_topic)"/>
        <remap from="/stereo/right" to="$(arg stereo_right_topic)"/>

        <param name="gaussian/min" value="$(arg gaussian_min)" type="int"/>
        <param name="gaussian/max" value="$(arg gaussian_max)" type="int"/>
    
    </node>

</launch>
